In [ ]:
import pandas as pd
df=pd.read_csv("/content/drive/My Drive/DATA/data2.csv")

In [ ]:
copy=df

In [ ]:
copy.isnull().sum()

Make           4
Model          4
Type           4
Origin         4
DriveTrain     4
MSRP           4
Invoice        4
EngineSize     4
Cylinders      6
Horsepower     4
MPG_City       4
MPG_Highway    4
Weight         4
Wheelbase      4
Length         4
dtype: int64

In [ ]:
df.shape

(432, 15)

In [ ]:
df.dtypes

Make            object
Model           object
Type            object
Origin          object
DriveTrain      object
MSRP            object
Invoice         object
EngineSize     float64
Cylinders      float64
Horsepower     float64
MPG_City       float64
MPG_Highway    float64
Weight         float64
Wheelbase      float64
Length         float64
dtype: object

In [ ]:
df.head()

    Make           Model   Type Origin  ... MPG_Highway  Weight Wheelbase  Length
0  Acura             MDX    SUV   Asia  ...        23.0  4451.0     106.0   189.0
1  Acura  RSX Type S 2dr  Sedan   Asia  ...        31.0  2778.0     101.0   172.0
2  Acura         TSX 4dr  Sedan   Asia  ...        29.0  3230.0     105.0   183.0
3  Acura          TL 4dr  Sedan   Asia  ...        28.0  3575.0     108.0   186.0
4  Acura      3.5 RL 4dr  Sedan   Asia  ...        24.0  3880.0     115.0   197.0

[5 rows x 15 columns]

###delete null values

In [ ]:
df.isnull().sum()

Make           4
Model          4
Type           4
Origin         4
DriveTrain     4
MSRP           4
Invoice        4
EngineSize     4
Cylinders      6
Horsepower     4
MPG_City       4
MPG_Highway    4
Weight         4
Wheelbase      4
Length         4
dtype: int64

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.shape

(426, 15)

In [ ]:
df.isnull().sum()

Make           0
Model          0
Type           0
Origin         0
DriveTrain     0
MSRP           0
Invoice        0
EngineSize     0
Cylinders      0
Horsepower     0
MPG_City       0
MPG_Highway    0
Weight         0
Wheelbase      0
Length         0
dtype: int64

###same dataset change null values with mean

In [ ]:
df1=pd.read_csv("/content/drive/My Drive/DATA/data2.csv")

In [ ]:
df1.fillna(df1.mean(),inplace=True)

In [ ]:
df1.fillna(method='ffill',inplace=True)

In [ ]:
df1.isnull().sum()

Make           0
Model          0
Type           0
Origin         0
DriveTrain     0
MSRP           0
Invoice        0
EngineSize     0
Cylinders      0
Horsepower     0
MPG_City       0
MPG_Highway    0
Weight         0
Wheelbase      0
Length         0
dtype: int64

In [ ]:
df1.head(1)

    Make Model Type Origin  ... MPG_Highway  Weight Wheelbase  Length
0  Acura   MDX  SUV   Asia  ...        23.0  4451.0     106.0   189.0

[1 rows x 15 columns]

In [ ]:
df1[df1['EngineSize'].isin([3.5,3,3.4])]

       Make                      Model   Type  ...  Weight Wheelbase Length
0     Acura                        MDX    SUV  ...  4451.0     106.0  189.0
4     Acura                 3.5 RL 4dr  Sedan  ...  3880.0     115.0  197.0
5     Acura    3.5 RL w/Navigation 4dr  Sedan  ...  3893.0     115.0  197.0
9      Audi                 A4 3.0 4dr  Sedan  ...  3462.0     104.0  179.0
10     Audi  A4 3.0 Quattro 4dr manual  Sedan  ...  3583.0     104.0  179.0
..      ...                        ...    ...  ...     ...       ...    ...
393  Toyota              Avalon XL 4dr  Sedan  ...  3417.0     107.0  192.0
394  Toyota           Camry XLE V6 4dr  Sedan  ...  3362.0     107.0  189.0
396  Toyota             Avalon XLS 4dr  Sedan  ...  3439.0     107.0  192.0
402  Toyota      Tundra Regular Cab V6  Truck  ...  3925.0     128.0  218.0
403  Toyota   Tundra Access Cab V6 SR5  Truck  ...  4435.0     128.0  218.0

[88 rows x 15 columns]

In [ ]:
#increse value by 3
df1['MPG_City']=df1['MPG_City'].apply(lambda x:x+3)
df1.head(2)

    Make           Model   Type Origin  ... MPG_Highway  Weight Wheelbase  Length
0  Acura             MDX    SUV   Asia  ...        23.0  4451.0     106.0   189.0
1  Acura  RSX Type S 2dr  Sedan   Asia  ...        31.0  2778.0     101.0   172.0

[2 rows x 15 columns]

In [ ]:
df.drop(columns=['Weight','Length'])

      Make                    Model   Type  ... MPG_City MPG_Highway Wheelbase
0    Acura                      MDX    SUV  ...     17.0        23.0     106.0
1    Acura           RSX Type S 2dr  Sedan  ...     24.0        31.0     101.0
2    Acura                  TSX 4dr  Sedan  ...     22.0        29.0     105.0
3    Acura                   TL 4dr  Sedan  ...     20.0        28.0     108.0
4    Acura               3.5 RL 4dr  Sedan  ...     18.0        24.0     115.0
..     ...                      ...    ...  ...      ...         ...       ...
427  Volvo  C70 LPT convertible 2dr  Sedan  ...     21.0        28.0     105.0
428  Volvo  C70 HPT convertible 2dr  Sedan  ...     20.0        26.0     105.0
429  Volvo               S80 T6 4dr  Sedan  ...     19.0        26.0     110.0
430  Volvo                      V40  Wagon  ...     22.0        29.0     101.0
431  Volvo                     XC70  Wagon  ...     20.0        27.0     109.0

[426 rows x 13 columns]

In [ ]:
  def ooo(s):
    ans=''
    for element in s:
      if element in ['0','1','2','3','4','5','6','7','8','9']:
        ans=ans+element
    ans=int(ans)
    return ans

In [ ]:
ooo('$23,340')

23340

In [ ]:
df1['MSRP']=df1['MSRP'].apply(lambda x:ooo(x))

In [ ]:
df1['Invoice']=df1['Invoice'].apply(lambda x:ooo(x))

In [ ]:
df1.head(2)

    Make           Model   Type Origin  ... MPG_Highway  Weight  Wheelbase  Length
0  Acura             MDX    SUV   Asia  ...        23.0  4451.0      106.0   189.0
1  Acura  RSX Type S 2dr  Sedan   Asia  ...        31.0  2778.0      101.0   172.0

[2 rows x 15 columns]