In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [3]:
df=pd.read_csv(r"/content/drive/My Drive/DATA/1. Weather Data.csv")

In [5]:
df.shape

(8784, 8)

In [28]:
df.columns

Index(['Date/Time', 'Temp_C', 'Dew Point Temp_C', 'Rel Hum_%',
       'Wind Speed_km/h', 'Visibility_km', 'Press_kPa', 'Weather'],
      dtype='object')

In [8]:
df.head()

       Date/Time  Temp_C  ...  Press_kPa               Weather
0  1/1/2012 0:00    -1.8  ...     101.24                   Fog
1  1/1/2012 1:00    -1.8  ...     101.24                   Fog
2  1/1/2012 2:00    -1.8  ...     101.26  Freezing Drizzle,Fog
3  1/1/2012 3:00    -1.5  ...     101.27  Freezing Drizzle,Fog
4  1/1/2012 4:00    -1.5  ...     101.23                   Fog

[5 rows x 8 columns]

In [25]:
df.dtypes

Date/Time            object
Temp_C              float64
Dew Point Temp_C    float64
Rel Hum_%             int64
Wind Speed_km/h       int64
Visibility_km       float64
Press_kPa           float64
Weather              object
dtype: object

In [27]:
##shows unique items in the columns...like set() in pyton
df['Weather'].unique()

array(['Fog', 'Freezing Drizzle,Fog', 'Mostly Cloudy', 'Cloudy', 'Rain',
       'Rain Showers', 'Mainly Clear', 'Snow Showers', 'Snow', 'Clear',
       'Freezing Rain,Fog', 'Freezing Rain', 'Freezing Drizzle',
       'Rain,Snow', 'Moderate Snow', 'Freezing Drizzle,Snow',
       'Freezing Rain,Snow Grains', 'Snow,Blowing Snow', 'Freezing Fog',
       'Haze', 'Rain,Fog', 'Drizzle,Fog', 'Drizzle',
       'Freezing Drizzle,Haze', 'Freezing Rain,Haze', 'Snow,Haze',
       'Snow,Fog', 'Snow,Ice Pellets', 'Rain,Haze', 'Thunderstorms,Rain',
       'Thunderstorms,Rain Showers', 'Thunderstorms,Heavy Rain Showers',
       'Thunderstorms,Rain Showers,Fog', 'Thunderstorms',
       'Thunderstorms,Rain,Fog',
       'Thunderstorms,Moderate Rain Showers,Fog', 'Rain Showers,Fog',
       'Rain Showers,Snow Showers', 'Snow Pellets', 'Rain,Snow,Fog',
       'Moderate Rain,Fog', 'Freezing Rain,Ice Pellets,Fog',
       'Drizzle,Ice Pellets,Fog', 'Drizzle,Snow', 'Rain,Ice Pellets',
       'Drizzle,Snow,Fog', 'Rain,Snow Grains', 'Rain,Snow,Ice Pellets',
       'Snow Showers,Fog', 'Moderate Snow,Blowing Snow'], dtype=object)

In [30]:
df.nunique()
##shows unique items

Date/Time           8784
Temp_C               533
Dew Point Temp_C     489
Rel Hum_%             83
Wind Speed_km/h       34
Visibility_km         24
Press_kPa            518
Weather               50
dtype: int64

In [31]:
##to find non-null values in each columns
df.count()

Date/Time           8784
Temp_C              8784
Dew Point Temp_C    8784
Rel Hum_%           8784
Wind Speed_km/h     8784
Visibility_km       8784
Press_kPa           8784
Weather             8784
dtype: int64

In [37]:
######   REALLY GOOD COMMAND TO ANALYSE DATA
#### SHOWS HOW MANY TIMES VALUES OCCURS IN EACH COLUMN
df['Weather'].value_counts()

Mainly Clear                               2106
Mostly Cloudy                              2069
Cloudy                                     1728
Clear                                      1326
Snow                                        390
Rain                                        306
Rain Showers                                188
Fog                                         150
Rain,Fog                                    116
Drizzle,Fog                                  80
Snow Showers                                 60
Drizzle                                      41
Snow,Fog                                     37
Snow,Blowing Snow                            19
Rain,Snow                                    18
Thunderstorms,Rain Showers                   16
Haze                                         16
Drizzle,Snow,Fog                             15
Freezing Rain                                14
Freezing Drizzle,Snow                        11
Freezing Drizzle                              7
Freezing Drizzle,Fog                          6
Snow,Ice Pellets                              6
Snow,Haze                                     5
Rain,Snow,Ice Pellets                         4
Snow Showers,Fog                              4
Freezing Fog                                  4
Freezing Rain,Fog                             4
Moderate Snow                                 4
Freezing Drizzle,Haze                         3
Thunderstorms,Rain                            3
Rain,Haze                                     3
Thunderstorms,Rain Showers,Fog                3
Moderate Snow,Blowing Snow                    2
Freezing Rain,Haze                            2
Rain Showers,Snow Showers                     2
Drizzle,Snow                                  2
Thunderstorms                                 2
Freezing Rain,Snow Grains                     1
Rain,Snow,Fog                                 1
Thunderstorms,Heavy Rain Showers              1
Rain,Snow Grains                              1
Rain,Ice Pellets                              1
Rain Showers,Fog                              1
Freezing Rain,Ice Pellets,Fog                 1
Thunderstorms,Moderate Rain Showers,Fog       1
Snow Pellets                                  1
Moderate Rain,Fog                             1
Thunderstorms,Rain,Fog                        1
Drizzle,Ice Pellets,Fog                       1
Name: Weather, dtype: int64

In [50]:
## this is how you can analys how many times weather was clean
df[df.Temp_C==-16.9]

            Date/Time  Temp_C  ...  Press_kPa       Weather
67     1/3/2012 19:00   -16.9  ...     101.74         Clear
357   1/15/2012 21:00   -16.9  ...     103.02         Clear
358   1/15/2012 22:00   -16.9  ...     103.07         Clear
359   1/15/2012 23:00   -16.9  ...     103.09         Clear
476   1/20/2012 20:00   -16.9  ...     102.34  Mainly Clear
1016   2/12/2012 8:00   -16.9  ...     100.68        Cloudy

[6 rows x 8 columns]

In [55]:
df.query('Weather=="Clear" & Temp_C==-16.9')

           Date/Time  Temp_C  ...  Press_kPa  Weather
67    1/3/2012 19:00   -16.9  ...     101.74    Clear
357  1/15/2012 21:00   -16.9  ...     103.02    Clear
358  1/15/2012 22:00   -16.9  ...     103.07    Clear
359  1/15/2012 23:00   -16.9  ...     103.09    Clear

[4 rows x 8 columns]

In [74]:
a=df.groupby(['Weather','Visibility_km'])
a.first()

                                                    Date/Time  ...  Press_kPa
Weather                        Visibility_km                   ...
Clear                          11.3           12/13/2012 2:00  ...     102.57
                               12.9            3/21/2012 8:00  ...     102.15
                               16.1           1/22/2012 21:00  ...     102.38
                               19.3             2/5/2012 6:00  ...     101.93
                               24.1            1/15/2012 8:00  ...     102.45
...                                                       ...  ...        ...
Thunderstorms,Rain Showers     19.3            8/5/2012 18:00  ...     100.28
                               24.1            5/29/2012 4:00  ...     100.34
                               25.0           7/31/2012 21:00  ...     100.65
Thunderstorms,Rain Showers,Fog 9.7             6/29/2012 3:00  ...      99.71
Thunderstorms,Rain,Fog         4.8             7/17/2012 5:00  ...     100.08

[243 rows x 6 columns]

In [81]:
df.isnull().sum()

Date/Time           0
Temp_C              0
Dew Point Temp_C    0
Rel Hum_%           0
Wind Speed_km/h     0
Visibility_km       0
Press_kPa           0
Weather             0
dtype: int64

In [85]:
df[df.Weather=='Snow']

             Date/Time  Temp_C  ...  Press_kPa  Weather
55       1/3/2012 7:00   -14.0  ...     100.95     Snow
84      1/4/2012 12:00   -13.7  ...     101.25     Snow
86      1/4/2012 14:00   -11.3  ...     100.97     Snow
87      1/4/2012 15:00   -10.2  ...     100.89     Snow
88      1/4/2012 16:00    -9.4  ...     100.79     Snow
...                ...     ...  ...        ...      ...
8779  12/31/2012 19:00     0.1  ...     100.13     Snow
8780  12/31/2012 20:00     0.2  ...     100.03     Snow
8781  12/31/2012 21:00    -0.5  ...      99.95     Snow
8782  12/31/2012 22:00    -0.2  ...      99.91     Snow
8783  12/31/2012 23:00     0.0  ...      99.89     Snow

[390 rows x 8 columns]

In [86]:
###   what if u need snow clear,cnow humid etc...
df[df.Weather.str.contains('Snow')]

             Date/Time  Temp_C  ...  Press_kPa       Weather
41      1/2/2012 17:00    -2.1  ...      99.66  Snow Showers
44      1/2/2012 20:00    -5.6  ...     100.07  Snow Showers
45      1/2/2012 21:00    -5.8  ...     100.15  Snow Showers
47      1/2/2012 23:00    -7.4  ...     100.27  Snow Showers
48       1/3/2012 0:00    -9.0  ...     100.35  Snow Showers
...                ...     ...  ...        ...           ...
8779  12/31/2012 19:00     0.1  ...     100.13          Snow
8780  12/31/2012 20:00     0.2  ...     100.03          Snow
8781  12/31/2012 21:00    -0.5  ...      99.95          Snow
8782  12/31/2012 22:00    -0.2  ...      99.91          Snow
8783  12/31/2012 23:00     0.0  ...      99.89          Snow

[583 rows x 8 columns]

In [91]:
 df[(df['Wind Speed_km/h']>24) & (df.Visibility_km==25)]

             Date/Time  Temp_C  ...  Press_kPa        Weather
23      1/1/2012 23:00     5.3  ...      99.31         Cloudy
24       1/2/2012 0:00     5.2  ...      99.26   Rain Showers
25       1/2/2012 1:00     4.6  ...      99.26         Cloudy
26       1/2/2012 2:00     3.9  ...      99.26  Mostly Cloudy
27       1/2/2012 3:00     3.7  ...      99.30  Mostly Cloudy
...                ...     ...  ...        ...            ...
8705  12/28/2012 17:00    -8.6  ...     101.34   Mainly Clear
8753  12/30/2012 17:00   -12.1  ...     101.26   Mainly Clear
8755  12/30/2012 19:00   -13.4  ...     101.47   Mainly Clear
8759  12/30/2012 23:00   -12.1  ...     101.52  Mostly Cloudy
8760   12/31/2012 0:00   -11.1  ...     101.51         Cloudy

[308 rows x 8 columns]

In [92]:
df.groupby('Weather').mean()

                                            Temp_C  ...   Press_kPa
Weather                                             ...
Clear                                     6.825716  ...  101.587443
Cloudy                                    7.970544  ...  100.911441
Drizzle                                   7.353659  ...  100.435366
Drizzle,Fog                               8.067500  ...  100.786625
Drizzle,Ice Pellets,Fog                   0.400000  ...  100.790000
Drizzle,Snow                              1.050000  ...  100.890000
Drizzle,Snow,Fog                          0.693333  ...   99.281333
Fog                                       4.303333  ...  101.184067
Freezing Drizzle                         -5.657143  ...  100.202857
Freezing Drizzle,Fog                     -2.533333  ...  100.441667
Freezing Drizzle,Haze                    -5.433333  ...  100.316667
Freezing Drizzle,Snow                    -5.109091  ...  100.520909
Freezing Fog                             -7.575000  ...  102.320000
Freezing Rain                            -3.885714  ...   99.647143
Freezing Rain,Fog                        -2.225000  ...   99.945000
Freezing Rain,Haze                       -4.900000  ...  100.375000
Freezing Rain,Ice Pellets,Fog            -2.600000  ...  100.950000
Freezing Rain,Snow Grains                -5.000000  ...   98.560000
Haze                                     -0.200000  ...  101.482500
Mainly Clear                             12.558927  ...  101.248832
Moderate Rain,Fog                         1.700000  ...   99.980000
Moderate Snow                            -5.525000  ...  100.275000
Moderate Snow,Blowing Snow               -5.450000  ...  100.570000
Mostly Cloudy                            10.574287  ...  101.025288
Rain                                      9.786275  ...  100.233333
Rain Showers                             13.722340  ...  100.404043
Rain Showers,Fog                         12.800000  ...   99.830000
Rain Showers,Snow Showers                 2.150000  ...  101.100000
Rain,Fog                                  8.273276  ...  100.500862
Rain,Haze                                 4.633333  ...  100.540000
Rain,Ice Pellets                          0.600000  ...  100.120000
Rain,Snow                                 1.055556  ...   99.951111
Rain,Snow Grains                          1.900000  ...  100.600000
Rain,Snow,Fog                             0.800000  ...  100.730000
Rain,Snow,Ice Pellets                     1.100000  ...  100.105000
Snow                                     -4.524103  ...  100.536103
Snow Pellets                              0.700000  ...   99.700000
Snow Showers                             -3.506667  ...  100.963500
Snow Showers,Fog                        -10.675000  ...  101.292500
Snow,Blowing Snow                        -5.410526  ...   99.704737
Snow,Fog                                 -5.075676  ...  100.688649
Snow,Haze                                -4.020000  ...  100.782000
Snow,Ice Pellets                         -1.883333  ...  100.548333
Thunderstorms                            24.150000  ...  100.230000
Thunderstorms,Heavy Rain Showers         10.900000  ...  100.260000
Thunderstorms,Moderate Rain Showers,Fog  19.600000  ...  100.010000
Thunderstorms,Rain                       20.433333  ...  100.420000
Thunderstorms,Rain Showers               20.037500  ...  100.233750
Thunderstorms,Rain Showers,Fog           21.600000  ...  100.063333
Thunderstorms,Rain,Fog                   20.600000  ...  100.080000

[50 rows x 6 columns]